*{
font-size: 50px;
background-color: rgb(73, 9, 169);
text-align: center;
}

header {
    font-weight: 500;
    font: arial;
    color:azure;

}

ul li {
    list-style: none;
}

a:link, a:visited {
    background-color: black;
    color: white;
    text-align: center;
    display: inline-block;
}

.img-1 {
    box-shadow: 20px 20px 20px 10px rgb(0, 0, 0);


}